<!DOCTYPE html>
<html>
<head>
	<title>ForgotPassword</title>
</head>
<body>
	<form action="/forgotpwd" method="post">
	<input type="email" name="id" placeholder="emailid"><br><br>
	<input type="submit" value="submit">
	</form>
</body>
</html>